---
import Layout from "../components/Layout.astro";
---

<Layout>
  <section class="container">
    <section class="text">
      <h1>hello!</h1>
      <p>
        myself
        <br class="mobile" />
        sayantan<span class="desktop"> ghosh</span>.
        <br />
        <br />
        a web
        <br class="mobile" />
        developer
        <br />
        creating
        <br class="mobile" />
        minimal,
        <br class="mobile" />
        modern,
        <br class="mobile" />
        mobile friendly
        <br />
        interfaces
        <br class="mobile" />
        across the web.
        <br />
        <br />
        <span class="desktop"
          >tale a look <a href="/works" class="underline accent">around →</a
          ></span
        >
        <span class="mobile"
          ><a href="/works" class="underline accent">explore →</a></span
        >
      </p>
    </section>
    <div class="display image-holder desktop">
      <img src={"src/assets/images/unboxing.svg"} />
    </div>
  </section>
</Layout>

<style>
  .container {
    display: flex;
    height: 100%;
  }
  .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7rem;
    flex-basis: 65%;
  }
  .image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-basis: 35%;
    margin-right: 3rem;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 2.5rem;
    font-weight: bold;
  }
  p {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 55%);
    line-height: 1.5;
  }
  a {
    color: hsl(0, 0%, 55%);
    text-decoration: none;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: inline;
  }
  .accent {
    transition: all 150ms ease-in-out;
  }
  .accent:hover {
    color: hsl(0, 50%, 50%) !important;
    word-spacing: 4.5px;
    cursor: pointer;
  }
  .accent::after {
    background-color: hsl(0, 50%, 50%) !important;
    height: 3.5px;
  }
  @media screen and (max-width: 720px) {
    .text {
      height: 88%;
      margin-left: 3rem;
      padding: 2rem 0;
      margin-top: 10%;
      flex-basis: 100%;
    }
    h1 {
      font-size: clamp(2rem, 17vw, 6rem);
    }
    p {
      font-size: clamp(1rem, 7.5vw, 4rem);
      line-height: normal;
    }
    .mobile {
      display: inline;
    }
    .desktop {
      display: none;
    }
  }
</style>
